# Ignored filetypes
*.[oa]
*.sdf
*.sys
*.exe
*.dll
*.pdb
*.opensdf
*.user
*.pyc
googlemock/scripts/generator/cpp/*.pyc


# Ignore output directories
Debug/
Release/
x64/Debug/
x64/Release/
x86/Debug/
x86/Release/
ARM/Debug/
ARM/Release/
gtest/googletest/x64/
gtest/googletest/x86/
gtest/googlemock/x64/
gtest/googlemock/x86/
gtest/googletest/VirtualAx25/
VirtualAx25UnitTests/x64/
VirtualAx25UnitTests/x86/
Tests/

# Ignore configuration directory
.vs/